@import 'var';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: $mainBg;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .sun {
        background: $sun;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        box-shadow: $sun 0px 0px 40px;
        margin: 2rem;
        position: absolute;
        animation-name: dawning;
        @include moving;
    
        @keyframes dawning {
            from {
                margin-left: -200px;
                box-shadow: $sun 0px 0px 40px;
            }        
    
            to {
                margin-left: 2rem;
                box-shadow: $sun 0px 0px 100px;
            }
        }
    }

    .celebration {
        font-family: $textStyle;
        color: $text;
        display: grid;
        place-items: center;
        position: absolute;
        top: 30%;
        left: 45%;

        h1 {
            animation-name: celebrate;
            @include moving;
            
            @keyframes celebrate {
                from{
                    opacity: 0;
                }

                to{
                    opacity: 1;
                }
            }
        }
       
    }

    .flower {

        animation-name: flowerBloom;
        animation-duration: 3s;
        position: absolute;
        top: 0;
        left: 50%;

        @keyframes flowerBloom {
            from {
                top: 80%;
            }

            to {
                top: 0;
            }
            
        }

        &-body {
            background: $flowerBody;
            height: 200px;
            width: 10px;
            position: absolute;
            top: 65vh;
            left: 50%;
        }

        &-body::before {
            content: '';
            background: $flowerBody;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 40%;
            left: 13px;
            z-index: 2;
            border-radius: 20px 0 20px 0;
            transform: rotate(10deg);
        }
        &-body::after {
            content: '';
            background: $flowerHead;
            height: 100px;
            width: 100px;
            position: absolute;
            top: -40%;
            left: -45px;
            z-index: 2;
            border-radius: 50%;
            transform: rotate(10deg);
            animation-name: pulse;
            @include moving;

            @keyframes pulse {
                from {
                    transform: scale(1);
                }

                to {
                    transform: scale(1.5);
                }
            }
        }

        
    }
}

